@font-face {
    font-family: "Linotype";
    font-weight: 700;
    src: url("../fonts/Linotype - HelveticaNeueLTPro-Bd.otf");
}

@font-face {
    font-family: "Linotype";
    font-weight: 500;
    src: url("../fonts/Linotype - HelveticaNeueLTPro-Md.otf");
}

@font-face {
    font-family: "Linotype";
    font-weight: 300;
    src: url("../fonts/Linotype - HelveticaNeueLTPro-MdCn.otf");
}

@font-face {
    font-family: "Linotype";
    font-weight: normal;
    src: url("../fonts/Linotype - HelveticaNeueLTPro-Roman.otf");
}