$white: #fff;
$main-color: #9202FF;
$getShadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

/* Media Qurys */

$break1: "(max-width: 700px)"; //mobile
$break2: "(min-width: 701px) and (max-width: 1199.9px)"; //tablet
$break3: "(min-width: 1200px)"; //desktop
$break4: "(min-width: 700px)"; //desktop