header {
    background-image: url(../images/Header_BG.png);
    z-index: 99;
    .top_header {
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 15px 45px 15px;
        nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 50px;
            align-items: center;
            a {
                &:hover {
                    color: $main-color;
                }
            }
            .btn_nav {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $main-color;
                padding: 10px;
                color: $white;
                border-radius: 5px;
                transition: box-shadow .3s;
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
                    transition: all .3s ease-in-out;
                }
            }
        }
        img {
            width: 250px;
        }
    }
}