header {
    background-image: url(../images/Header_BG.png);
    .top_header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 15px 45px 15px;
        nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 50px;
            a {
                &:hover {
                    color: $main-color;
                }
            }
            .btn_nav {
                background-color: $main-color;
                padding: 10px;
                color: $white;
                border-radius: 5px;
                transition: box-shadow .3s;
                &:hover {
                    color: $white;
                    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
                }
            }
        }
        img {
            height: 20px;
            width: 250px;
        }
    }
    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        div {
            padding: 0 10px;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: $main-color;
                transition: width .3s;
            }
            &:hover {
                color: $main-color;
                transition: color 0.3s ease-in-out;
                &::after {
                    width: 100%;
                }
            }
            span {
                padding: 0 20px;
            }
        }
    }
}